.pagination {
  display: flex;
  gap: 0.2rem;
  padding: 0.4rem;
  border: 1px solid var(--border-default-color);
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

  .paginationItem {
    width: 1.8rem;
    border-radius: 0.3rem;
    padding: 0.4rem;
    border: 1px solid var(--select-green);
    background-color: var(--hover-green);
    color: var(--select-green);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  .spaceDots {
    opacity: 0.5;
    width: 1rem;
    text-align: center;
  }

  .isSelected {
    border: 1px solid var(--select-green);
    background-color: var(--select-green);
    color: white;
    font-weight: bold;
  }
}
