.formTitle {
  padding: .8rem;
  border-bottom: 1px solid var(--border-default-color);
}

.buttonsContainer {
  padding: .8rem;
  display: flex;
  gap: .4rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



.forms {
  border-top: 1px solid var(--border-default-color);
  padding: .4rem;
  display: flex;
  flex-direction: column;
  gap: .4rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .4rem;
  }

  section {
    padding: .4rem;

    .tabs {
      display: flex;
      margin-bottom: .4rem;
      padding: .8rem 0;
      border-radius: .4rem;
      gap: .4rem;
      box-sizing: border-box;

      div {
        padding: .4rem 1rem ;
        border: 1px solid #D3C77A;
        border-radius: .4rem;
        transition: all .2s ease-in-out;
      }

      span {
        font-size: .8rem;
        color: #D3C77A;
      }
    }
  }
}

