.formTitle {
  padding: 0.8rem;
  border-bottom: 1px solid var(--border-default-color);
}

.buttonsContainer {
  padding: 0.8rem;
  display: flex;
  gap: 0.4rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.forms {
  border-top: 1px solid var(--border-default-color);
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
  }

  section {
    padding: 0.4rem;

    .tabs {
      display: flex;
      margin-bottom: 0.4rem;
      padding: 0.8rem 0;
      border-radius: 0.4rem;
      gap: 0.4rem;
      box-sizing: border-box;

      div {
        padding: 0.4rem 1rem;
        border: 1px solid #d3c77a;
        border-radius: 0.4rem;
        transition: all 0.2s ease-in-out;
      }

      span {
        font-size: 0.8rem;
        color: #d3c77a;
      }
    }
  }
}
