.warningObsContainer {
  padding: 0.6rem 1rem;
  border: 1px solid #c19742;
  background-color: #fffaed;
  color: #c19742;
  border-radius: 0.4rem;

  .warningTitle {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  span {
    font-size: 0.8rem;
  }
}
