.cards {
  display: flex;
  box-sizing: border-box;
  gap: 1rem;
  width: 100%;
}

.recentOrders {
  display: flex;
  flex-direction: column;
  gap: .8rem;

  .pendingTitle {
    display: flex;
    align-items: center;
    gap: .2rem;
  }
}