.formTitle {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.formFields {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: .6rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
}

.observation {
  display: flex;
  align-items: center;
  gap: .2rem;
  margin: .8rem;
  padding: .6rem;
  border-radius: .4rem;
  background-color: #e8e8e8;
  border: 1px solid #5e5e03;
  border-left: 4px solid #5e5e03;

  span {
    color: #5e5e03;
    opacity: .6;
    font-size: .8rem;
  }

  .obsIcon {
    color: #5e5e03;
    font-size: 1.6rem;
  }
}

.btnContainer {
  width: fit-content;
  padding: 0 1rem 1rem;
  display: flex;
  gap: .6rem;
}

