.productsListContainer {
  border-bottom: 1px solid var(--border-default-color);

  ul {
    li {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .8rem;
      padding: .8rem;
      gap: 1rem;

      span {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.orderItemForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.saveButton {
  display: flex;
  align-items: center;
  border: 1px solid var(--confirm-border) !important;

  span {
    text-align: center;
    width: 100%;
  }

  &:hover {
    background-color: var(--confirm-border) !important;
  }
}
