.productsListContainer {
  border-bottom: 1px solid var(--border-default-color);

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--border-default-color);

    thead, tbody {
      tr {
        border-bottom: 1px solid var(--border-default-color);

        th {
          text-align: left;
          font-size: .9rem;
          opacity: .6;
          border-bottom: 1px solid var(--border-default-color);
        }

        td {
          font-size: .8rem;


        }

        th, td {
          padding: .6rem;
        }
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: #f4f4f4;
      }

      tr:last-child {
        border-bottom: none;
      }
    }
  }

  ul {
    li {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .8rem;
      padding: .8rem;
      gap: 1rem;

      span {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.orderItemForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.saveButton {
  display: flex;
  align-items: center;
  border: 1px solid var(--confirm-border) !important;
  transition: all .2s ease-in-out;

  span {
    text-align: center;
    width: 100%;
    font-weight: 700;
  }

  &:hover {
    color: white;
    background-color: var(--confirm-border) !important;
  }
}
