.formTitle {
  padding: 0.8rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-default-color);
}

.inputsContainer {
  display: flex;
  flex-direction: column;

  .gridInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    border-top: 1px solid var(--border-default-color);
    border-bottom: 1px solid var(--border-default-color);
    padding: 0.8rem;
  }
}

.buttonContainer {
  padding: 0.8rem;
  display: flex;
  width: fit-content;
  gap: 0.6rem;
}
