.listTemplate{
  background-color: white;
  border-radius: .6rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
  width: 100%;
  border-collapse: collapse;

  tbody, thead {
    tr {
      border-bottom: 1px solid var(--border-default-color);

      td, th {
        padding: .8rem;
        text-align: left;
      }
    }
  }

  thead {
    tr {
      th {
        font-size: .8rem;
        font-weight: 500;
        text-transform: uppercase;
        opacity: .6;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--border-default-color);

      td {
        font-size: .9rem;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
  }
}