.cardContainer {
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  .iconContainer {
    display: flex;
    padding: .6rem;
    width: fit-content;
    border-radius: 8px;
    background-color: #CDEFD8;
    border: 1px solid var(--select-green);
    color: var(--select-green);
  }

  .content {
    span {
      opacity: .6;
      font-size: .8rem;
    }
  }
}