.clientsListContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .itemList {
    display: flex;
    .buttonContainer {
      flex: 1;
    }
  }
}

.landPhoneContainer {
  display: flex;
  flex-direction: column;
}