.orderItemInfosContainer {
  pointer-events: none;
  user-select: none;
  position: absolute;
  border: 1px solid var(--border-default-color);
  list-style-position: inside;
  transition: opacity 0.1s ease;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  z-index: 12;
  list-style-type: none;
  right: 40%;
  top: 4rem;

  li {
    padding: 0.4rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-default-color);
    }
  }
}
