.formContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);

  .formTitle {
    width: 100%;
    padding: .6rem;
  }

  hr {
    color: #848484;
  }


}