.formHeader {
  padding: .8rem;
  border-bottom: 1px solid var(--border-default-color);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding: .8rem;

  .gridInputs {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: .4rem;
  }

  .fileInputContainer {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px dashed var(--border-default-color);
    border-radius: .6rem;
  }

  .buttons {
    display: flex;
    gap: .4rem;
  }
}