.statusBtnsContainer {
  width: 100%;
  display: flex;
  gap: 0.4rem;
  align-items: center;

  .statusBtns {
    display: flex;
    gap: 0.4rem;

    button {
      padding: 0.6rem 0.8rem;
      border-radius: 0.2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
    }

    .cancelButton {
      border: 1px solid #8e1f1f;
      color: #8e1f1f;
      background-color: transparent;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #8e1f1f;
        color: white;
      }
    }

    .doneButton {
      border: 1px solid #4ab56c;
      color: #4ab56c;
      background-color: transparent;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #4ab56c;
        color: white;
      }
    }
  }

  .backButton {
    flex: 1;
  }
}
